@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
/* Root Class */
:root {
    --bg-primary: #CAFF33;
    --bg-secondary:#1C1C1C;
    --bg-third: white;

}
/* Fonts and colors */
.navcent-nav {
    background-color: var(--bg-secondary);
}
.fs-18{
    font-size: 18px;
}
.bg-green{
    background-color: var(--bg-primary);
}
.span-color{
    color: var(--bg-primary);
}
.n-margin{
    margin-right: -200px;
}
.text-color{
    color: var(--bg-third);
}

.navbar-color{
    color: Grey/15;
}

.btn{
    background-color: Grey/15;
}

/* Navbar background */
.custom-navbar-bg {
    background: linear-gradient(90deg, #262626, rgba(128, 128, 128, 0.15));
    border-radius: 100px;
    padding: 15px 25px;
  }

/* For frequently asked questions */
.faq-card {
    background: linear-gradient(to bottom, #262626, rgba(128, 128, 128, 0.15));
  border: 2px solid black;
  border-radius: 1rem;
  }

.btncolor{
    text-decoration: none;
    color: #1C1C1C;
}